.agents-card-container {
  border: 2px solid #e7dcff;
  border-radius: 20px;
  padding: 15px;
  border-radius: 15px;
  width: 365px;
  height: 158px;
}
@media screen and (max-width: 500px) {
  .agents-card-container {
    width: 100%;
    height: auto;

  }
  .agents-icon-container{
    width: 100%
  }

  
}
.agents-icon-container {
  padding: 5.5px;
  background-color: #191a23;
  border-radius: 12px;
  padding: 5.5px;
  width: 24px;
  height: 24px;
}
